/* Nav */
.nav-link {
    color: #fff;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
.nav-item a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
    padding-bottom: 20px;
}

/* Header */
header { 
    background:  url('../img/Header/background.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}
  .p-header {
        position: relative;
        bottom: 10px;
    }

/* Page Title */
.Title {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 110px;
}

/* Header-Form */
.fwidth {
    max-width: 440px;
    background: #fff;
    border-radius: 7px;
    padding: 32px 32px 70px;
    margin-left: 150px;
    margin-top: 70px;
}

/* Text-Formatting */
h2,
h4,
h1,
h6 {
    text-shadow: .3px .3px .3px rgba(0, 0, 0, 0.719);
}
h5 {
    margin-top: 25px;
}
p {
    color: #545557
}
p.card-text {
    font-size: 12px;
    font-weight: bold;
}
a.links {
    text-decoration: none;
}

/* Jumbotron */
.jumbotron {
    background: url(../img/2/jumbotron.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    
}

/* Star-Ratings */
.star {
    height: .6em;
    width: .6em;
    fill: #157283;
    margin: 0;
}

/* Explore Airbnb */
.img-1 {
    width: 96px;
    height: 72px;
    margin-right: 20px;
}
.sha {
    box-shadow: 0 2px .1px rgba(214, 212, 212, 0.336);
}

/* Terms & Conditions */
.bottom-stick {
    background: #fff;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(92, 90, 90, 0.336);
    text-shadow: none;
    max-width: 248.48px;
}


/* Media Queries */

@media (max-width: 1200px) {

    /* Last 2 Cards */
    .xl {
        display: none;
    }

    /* Terms & Conditions */
    .bottom-stick {
        width: 248.48px;
        left: 20px;
        bottom: 10px;
    }
    
      .p-header {
        position: relative;
        bottom: 10px;
    }

}

@media (max-width: 767px) {

    /* Header */
    header {
        height: 256px;
    }
    .fwidth {
        display: none;
    }
    h2 {
        position: absolute;
        margin-top: 80px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.719);
        margin-bottom: auto;
    }
    .p-header {
        display: none;
    }

    /* Terms & Conditions */
        .bottom-stick {
        width: 100px;
        font-size: 10px;
    }

}

@media (max-width: 992px) {

    /* 5th & 6th Cards */
    .lg {
        display: none;
    }

    /* Explore Airbnb */
    .img-1 {
        width: 100%;
        height: 80%;
        margin-bottom: 5px;
    }
    h5 {
        font-size: 16px;
        text-align: center;
    }
    .sha {
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .links .btn-light {
        background: #fff;
    }

    .fwidth {
        margin-left: 100px;
    }
}

@media (max-width: 1199px) {

    /*  Dropdown & Nav  */
    div.dropdown-menu.show {
        width: 100vh;
        height: 100vh;
    }

    .dropdown ul {
        list-style-type: none;
        padding: 10px 0;
    }

    .dropdown li {
        padding: 5px 0;
    }

    .nav-item a:hover {
        color: #545557;
    }

    .dropdown a:hover,
    .text-center a {
        background: none;
        text-decoration: none;
        color: black;
    }

    span {
        font-size: 13px;
    }

    .nav {
        display: none;
    }

}
